section header{
  border-top: .0625rem solid var(--stroke-color);
  padding-block: .75rem 1.5rem;
  font: var(--text-span);

  a{
    justify-self: flex-end;
    align-items: center;
    gap: .25rem;

    span{
      width: 1rem;
      height: 1rem;
      background-image: url('../assets/icons/ArrowRight.svg');
    }

    &:hover span{
      background-image: url('../assets/icons/ArrowRight-hover.svg');
    }
  }
}

#featured{
  grid-template-areas: 
  "card1 card1 card2 card3"
  "card1 card1 card4 card5";
  grid-area: featured;

  img{
    height: 100%;
    object-fit: cover;
  }
  
  .card{
    border-radius: .25rem;
    overflow: hidden;
    position: relative;

    &:nth-child(1){
      grid-area: card1;
    }

    &:nth-child(2){
      grid-area: card2;
    }

    &:nth-child(3){
      grid-area: card3;
    }

    &:nth-child(4){
      grid-area: card4;
    }

    &:nth-child(5){
      grid-area: card5;
    }

    &::before{
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020716 100%);
    }

    figcaption{
      position: absolute;
      bottom: 0;
      padding: 1.5rem;

      &:has(.text-lg){
        padding: .75rem;
      }

      h2{
        margin-top: .5rem;
      }
    }
  }
}

#weekly{
  grid-area: weekly;

  & > div{
    grid-template-columns: repeat(4, 1fr);
  }

  img{
    max-height: 10rem;
  }

  figure{
    position: relative;

    .content-tag{
      position: absolute;
      top: .5rem;
      left: .5rem;
    }

    p{
      margin-top: .5rem;
      font-weight: 800;
    }
  }
}

#ai{
  grid-area: ai;

  img{
    width: 11rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & > div h3{
    margin-block: .5rem .25rem;
  }
}

aside{
  grid-area: aside;
}

#more{
  margin-top: 2rem;

  img{
    width: 4.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & > div h3{
    margin-top: .5rem;
  }
}

@media screen and (max-width: 1190px){
  #featured{
    grid-template-areas: 
    "card1 card1 card2"
    "card1 card1 card3"
    "card4 card5 .";
  }
}

@media  screen and (max-width: 900px){
  #featured{
    grid-template-areas: 
    "card1 card1"
    "card1 card1"
    "card2 card3"
    "card4 card5";
  }
}

@media screen and (max-width: 600px){
  #featured{
    grid-template-areas: 
    "card1"
    "card2"
    "card3"
    "card4"
    "card5";

    & h2.text-2xl{
      font-size: 1rem;
    }
  }
}